:root {
  --primary-color: #0077b6;
  --secondary-color: #f4f4f4;
  --accent-color: #ff5722;
  --text-color: #333;
  --hover-color: #ffeb3b;
  --footer-text: #fff;
  --modal-overlay: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-color);
}

h1 {
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 13px;
  line-height: 1.5;
  text-align: center;
}

.content {
  max-width: 70%;
  margin: 0 auto;
  color: var(--text-color);
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.navigation-wrapper {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}

.navigation-list {
  text-align: right;
}

.navigation-item {
  display: inline-block;
  padding: 1rem;
  position: relative;
}

.navigation-item a {
  color: var(--secondary-color);
}

.navigation-item a:hover {
  color: var(--hover-color);
}

.image {
  display: inline-block;
  padding: 5px;
  width: calc(100% / 3);
  margin: -5px;
}

img {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 900px) {
  .image {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 400px) {
  .image {
    width: calc(100% / 1);
  }
}
